@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --primary: #F48884;
  --secondary: #F89E32;
  --accent: #02AFEE;
	--black: #4A4037;
	--white: #FFFEF8;
	--tablet: 768px;
	font-size: 16px;
	font-weight: 400;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	:root {
		font-size: 1vw;
	}
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: var(--white);
	color: var(--black);
	font-family: 'lato';
	font-size: 1.2em;
	text-transform: uppercase;
}
img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

/* TYPOGRAPHY */
.big-text {
	display: inline-block;
	font-size: 2rem;
	font-weight: 300;
}
.big-text em {
	color: var(--primary);
	font-style: normal;
}
.big-text strong {
	display: inline-block;
	text-align: center;
	color: var(--white);
	background: var(--black);
	padding: 0 0.25em;
	border-radius: 1em;
	font-weight: 300;
	line-height: 1em;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.big-text {
		display: inline-block;
		font-size: 4rem;
		font-weight: 300;
	}
}
.big-bold-text {
	display: inline-block;
	font-size: 1.7rem;
	font-weight: 700;
	line-height: 1em;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.big-bold-text {
		font-size: 3.5rem;
	}
}

.title {
	display: inline-block;
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1em;
}
.body-text {
	display: inline-block;
	font-size: 1em;
}
.pre-title {
	display: inline-block;
	font-size: 2em;
	font-weight: 300;
}

.pink {
	color: var(--primary)
}
.yellow {
	color: var(--secondary)
}
.blue {
	color: var(--accent)
}
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

#cover {
	width: 100%;
	min-height: 100vh;
	max-width: 80vw;
	margin: 0 auto;
}
#cover .logo {
	text-align: center;
	width: 100%;
	max-width: 640px;
	margin: 1em auto;
}
#cover .tagline {
	text-align: center;
	padding: 0 0 1em 0;
}
#cover .tagline .big-text {
	width: 100%;
}
#cover .stamp {
	max-width: 150px;
	margin: 1em 0;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#cover {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#cover .logo {
		margin-top: 4em;
	}
	#cover .tagline {
		width: auto;
		text-align: left;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}

/* PRODUCT PHOTO */
#product-photo {
	width: 100vw;
}

/* PRODUCT INFORMATION */
#product-info {
	width: 100%;
	max-width: 80%;
	margin: 0 auto;
}
#product-info .content {
	text-align: center;
}
#product-info .content .info {
	margin: 0 auto;
	padding: 2em;
}
#product-info .content img {
	max-width: 120px;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#product-info .content {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
	}
	#product-info .content .info {
		width: 100%;
		max-width: 30%;
	}
	#product-info .content .info .title {
		min-height: 2em;
	}
}

/* POSITIONING REINFORCEMENT */
#positioning {
 width: 80%;
 margin: 0 auto;
 text-align: center;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#positioning {
		width: 90%;
	}
	#positioning .dog {
		float: right;
		width: 40%;
	}
	#positioning .big-text {
		margin-top: 2em;
		width: 45%;
		text-align: left;
	}
	#positioning .big-bold-text {
		width: 60%;
	}
	#positioning .big-bold-text.pink {
		margin-top: -2em;
		text-align: left;
	}
	#positioning .big-bold-text.yellow {
		text-align: right;
	}
}

/* STEP BY STEP */
#step-by-step {
	width: 100%;
	max-width: 80%;
	margin: 4em auto;
}
#step-by-step .content {
	text-align: center;
}
#step-by-step .content .step {
	margin: 0 auto;
	padding: 1em 2em;
	font-size: 1.2em;
	font-weight: 300;
}
#step-by-step .content img {
	max-width: 160px;
}
@media (min-width: 768px) {
	#step-by-step .content {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
	}
	#step-by-step .content .step {
		width: 100%;
		max-width: 30%;
	}
	#step-by-step .content figure {
		width: 50%;
		vertical-align: center;
	}
	#step-by-step .content img {

	}
}

#faq {
	text-align: center;
	margin: 0 auto;
	width: 90%;
}
#faq .content figure {
	margin: 0;
}
@media (min-width: 768px) {
	#faq .content {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
	}
	#faq .content .question {
		width: 100%;
		max-width: 25%;
		padding: 0 1em;
	}
}
