@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@keyframes enterRight {
  from {transform: translate(100%, 0); opacity: 0;}
  to {transform: translate(0%, 0); opacity: 1;}
}

@keyframes enterLeft {
  from {transform: translate(-100%, 0); opacity: 0;}
  to {transform: translate(0%, 0); opacity: 1;}
}

@keyframes enterDown {
  from {transform: translate(0, -100%); opacity: 0;}
  to {transform: translate(0, 0); opacity: 1;}
}

* {
  box-sizing: border-box;
}
:root {
  --primary: #F48884;
  --secondary: #F89E32;
  --accent: #02AFEE;
	--black: #4A4037;
	--white: #FFFEF8;
}
body {
  font-family: 'Lato';
  margin: 0;
  background: var(--white);
}

h1, h2, h3, h4, h5 {
  text-align: center;
  text-transform: uppercase;
}

a:link,
a:hover,
a:visited,
a:active {
  text-decoration: inherit;
  font-weight: bold;
  color: var(--primary);
}

.revelar {
	opacity: 1;
	transition: 1s;
}
*[data-visivel="false"] {
	opacity: 0 !important;
	transform: translateY(4em);
}

#rango {
  position: relative;
}

/* MENU */
#menu {
  /* CLEAR */
  list-style: none;
  padding: 0 0.5em;
  margin: 0;
  /* LAYOUT */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu .logo {
  width: 80%;
  margin: 1em auto;
  text-align: center;
}
#menu a:link,
#menu a:hover,
#menu a:active,
#menu a:visited {
  /* CLEAR */
  color: var(--black);
  text-decoration: none;
  transition: all 0.1s;
}
#menu .link {
  /* LAYOUT */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: min(22px, 6vw);
  margin: 0.5em 0;
  height: 1em;
}
#menu .pink:hover {
  transform: scale(1.05);
}
#menu .link .icone {
  width: 1.8em;
  height: 1.8em;
}
#menu img {
  max-width: 100%;
}
#menu .selo {
  margin: 1em 0;
  max-width: 150px;
}
#menu li .pink {
  background: var(--primary);
  color: var(--white);
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
}

@media screen and (min-width: 600px) {
  #menu {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: var(--white);
    max-width: 1024px;
    margin: 0 auto;
  }
  #menu .logo {
    width: 30%;
    margin: 0;
  }
  #menu .selo {
    width: 8%;
  }
  #menu .link {
    font-size: min(18px, 1.5vw);
  }
}

/* VITRINE */

#vitrine {
  width: 100%;
  padding-bottom: 2em;
}
#vitrine img {
  max-width: 100%;
}
#vitrine .texto {
  font-weight: 300;
  font-size: 7vw;
  padding: 0 1em;
  text-align: center;
}
#vitrine .texto em {
  color: var(--primary);
  font-style: normal;
}
#vitrine .texto strong {
  background: var(--black);
  color: var(--white);
  padding: 0.1em 0.2em;
  border-radius: 1em;
  display: inline-block;
}

@media screen and (min-width: 600px) {
  #vitrine {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #vitrine .texto,
  #vitrine .imagem {
    width: 50%;
    text-align: left;
  }
  #vitrine .texto {
    font-size: min(36px, 3.2vw);
    animation: enterLeft 0.5s 1;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  #vitrine .imagem {
    animation: enterRight 0.5s 1;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
}

/* PRODUTO */

#produto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 820px;
  padding: 1rem 0;
}
#produto .item {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#produto .item .icone {
  width: 50%;
  margin: 0 auto;
}
#produto .item h3 {
  font-weight: bold;
  line-height: 1em;
  min-height: 2em;
}
#produto .item p {
  font-weight: 300;
  margin-bottom: 2em;
}

@media screen and (min-width: 600px) {
  #produto {
    margin: 0 auto;
  }
  #produto .item {
    width: 33%;
    padding: 1em;
  }
}

/* REFORCO */
#reforco {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-size: min(42px, 4.5vw);
  text-align: right;
  overflow: hidden;
  margin: auto;
  padding: 0rem 0.5rem;
}
#reforco img {
  width: 40%;
  shape-outside: circle(50%);
  float: right;
  padding: 0.3em 0 0 1em;
}
#reforco p {
  margin: 0.6em 0 0.9em 0;
  padding: 0;
  line-height: 1em;
  font-weight: 300;
}
#reforco span {
  font-weight: bold;
}

#reforco em,
#reforco .pink {
  color: var(--primary);
  font-style: normal;
}
#reforco .orange {
  color: var(--secondary);
}

@media screen and (max-width: 600px) {
  #reforco {
    text-align: center;
    font-size: 1.5em;
  }
  #reforco img {
    width: 80%;
    float: none;
    padding: 0;
  }
}

/* PASSOS */
#passos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 820px;
  padding: 2em 0 1em 0;
}
#passos h2 {
  width: 100%;
}
#passos .item {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
#passos .item .icone {
  width: 60%;
  margin: 0 auto;
}
#passos .item h3 {
  font-weight: bold;
  line-height: 1em;
}
#passos .item p {
  font-weight: 300;
  margin-bottom: 2em;
}
#passos .numero {
  background: var(--black);
  color: var(--white);
  border-radius: 1em;
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  font-size: 1.4rem;
  line-height: 1.5rem;
  position: absolute;
  top: 10%;
  left: 20%;
}

@media screen and (min-width: 600px) {
  #passos {
    margin: 0 auto;
  }
  #passos .item {
    width: 33%;
    padding: 1em;
  }
  #passos .numero {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
}

/* PERGUNTAS */

#perguntas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#perguntas h2 {
  width: 100%;
}
#perguntas .item {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#perguntas .item .icone {
  width: 100%;
  margin: 0 auto;
}
#perguntas .item p {
  font-weight: 300;
  margin-bottom: 2em;
}
#perguntas .item p span {
  color: var(--accent);
  font-weight: bold;
  margin-right: 0.2em;
}

@media screen and (min-width: 600px) {
  #perguntas {
    max-width: 1024px;
    margin: 0 auto;
  }
  #perguntas .item {
    width: 33%;
    padding: 1em;
  }
}

#contato {
  max-width: 960px;
  margin: 10vh auto 20vh auto;
  text-align: center;
  padding: 0 1em;
}
#contato .link {
  background: var(--primary);
  color: var(--white);
  padding: 0.2em 0.4em;
  border-radius: 1em;
  font-size: 2rem;
  display: inline-block;
  transition: all 0.25s;
  text-transform: uppercase;
}
#contato .link:hover {
  transform: scale(1.05);
}

#flutuante {
  position: fixed;
  bottom: 3%;
  right: 1%;
  width: min(100px, 20%);
  transition: all 0.1s;
}

#flutuante:hover {
  transform: scale(1.05);
}
